@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
:root{
    --primary-text-color: #0093f7;
    --secondary-text-color:#2c2c2c;
    --padding-inline-section: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'MANROPE';
    font-family: 1.25rem;
    color: #696969;
    line-height: 1.8rem;
    font-size: 18px;
}
a{
    text-decoration:none;
    display: inline-block;
}
.apply-btn{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    border-radius: 6px;
    font-size: 16px;
    padding: 6px 8px;
} 
.apply-btn:hover{
background-color: #0d5ba9;
color: #fff;
}
.hover-link:hover{
    color: var(--primary-text-color);
    transition: 0.3s ease-in-out;
}

/* Utility class */
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline:var(--padding-inline-section);
    overflow:hidden;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
list-style: none;
}

/* nav bar */

.main-nav{
    margin-top: -28px;
    justify-content: space-between;
    position: relative;
}
.nav-links ul{
     justify-content: end;
     gap: 30px;
}
.company-logo img{
     margin-top: 20px;
    height: 40px;
    width: 69px;

}
 .toggle_btn{
    display: none;
}

/* main section */
 main{
    
    padding:50px var(--padding-inline-section) 0;
 }
 .main-section{
    justify-content: space-between;
 }
 
 .main-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
 }
 .main-left> p{
   max-width: 400px;
   /* flex-basis: 50px; */
 }
 h3{
    position: relative;
   margin-bottom: -30px;
    font-size: 40px;
 }
 h1{
    font-size: 60px;
    color: var(--primary-text-color);
 }
 h4{
    color: var(--primary-text-color); 
 }
 .main-left-img img{
    width: 400px;
 }
 .main-left-img2 img{
    width: 250px;
 }
 .main-right-img img{
    width: 500px;

 }


 /* promise section */
 .promise{
    background-color: #000;
    margin-top: 60px;
 }
 .promise> h1{
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    padding: 80px 80px 0 80px;
    background-image: linear-gradient(92deg, #217ee6 3%, #3187d5 44%, #69a798 70%, #fcf2a6 95%);
     -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
 }
 .promise>p{
    font-size: 48px ;
    line-height: 64px;
    text-align: center;
    padding: 80px 16px ;
    color: #fff;
 }


 /* footer section */
 footer{
    color: white;
 }
 .footer-sec{
    display: flex;
    gap: 100px;
    margin-top: 60px;
    background-color: #000;
    padding: 80px;
   
}
 .link-column{
    flex-direction: column;
    row-gap: 20px;
 }
 .link-column>p{
    max-width: 400px;
    flex-wrap: wrap;
    color: #fff;
    gap: 20px;
    margin-left: 100px;
 }

.news_letter{
    font-size: 40px;
}
.subscribe-btn{
    background-color: #0093f7;
    color: white;
    padding: 10px 60px;
    border-radius: 10px;
}
input{
    padding: 10px 20px;
    border-radius: 10px;
}
.link-column> a{
    color: #fff;
}

 /* dropdown menu */
 .dropdown_menu{
    display: none;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background:rgb(242, 245, 242);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .dropdown_menu.open{
    height: 400px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
 /*  media quaries */

@media screen and (max-width: 799px) {
    .main-nav > ul > li {
        display: none;
    }
    .toggle_btn {
        display: block;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .dropdown_menu{
        display: block;
    }
    .promise{
        background-color: #fff;
        margin-top: 60px;
     }
     .promise>h1{
        color: rgb(9, 148, 234);
     }
     .promise>p{
        color: #000;
     }
     .footer-sec{
        display: flex;
        flex-direction: column;
        gap: 100px;
        text-align: center;
        margin-top: 60px;
        background-color: #000;
        overflow: hidden;
       
    }
    .link-column>p{
        flex-wrap: wrap;
        color: #fff;
        margin-right: 40px;
     }
    
}

@media screen and (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .apply-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .promise{
        background-color: #fff;
        margin-top: 60px;
     }
     .promise>h1{
        color: rgb(9, 148, 234);
     }
     .promise>p{
        color: #000;
     }
}
